@{
    ViewData["Title"] = "Contact";
}
<div class="container-fluid">
    <div class="row body-content">
        <div class="col-lg-offset-1 col-lg-2"> 
            <h2>@ViewData["Title"]</h2> <br />

            <address class="text-left">
                Grodno State University<br />
                Belarus, Grodno <br />
                <abbr title="Phone">P:+375-(33)-656-20-16</abbr> <br />
                Source Code:
                <a href="https://github.com/Zaharov98/Wiki-Search">GitHub</a>
            </address>
        </div>
    </div>   
    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <address class="text-left">
                <strong>Support:</strong> <a href="zaharov.iv@outlook.com">zaharov.iv@outlook.com</a><br />
                <strong>Marketing:</strong> <a href="zaharov.iv@outlook.com">zaharov.iv@outlook.com</a>
            </address>
        </div>
    </div>
</div>


