<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="SearchDbApi.Controllers.CrawlerController" fileName="../../../var/CrawlerLog.txt"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
            deleteOldFileOnStartup="True"  />
    <target xsi:type="File" name="SearchDbApi.Controllers.SearchController" fileName="../../../var/SearchLog.txt"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" 
            deleteOldFileOnStartup="True" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="SearchDbApi.Controllers.CrawlerController" minlevel="Info" writeTo="SearchDbApi.Controllers.CrawlerController" />
    <logger name="SearchDbApi.Controllers.CrawlerController" minlevel="Info" writeTo="SearchDbApi.Controllers.CrawlerController" />
  </rules>
</nlog>